A = input ("Enter first digit: ")
B = input ("Enter second digit: ")
A= int (A)
B= int (B)

print ("+")
print ("-")
print ("*")
print ("/")
do = input ("Enter your choice: ")

if (do == "+"):
  C = (A+B)
  print ("Result: ", C)
elif (do == "-"):
  print ("Result: ", A-B)
elif (do == "*"):
  print ("Result: ", A*B)
elif (do == "/"):
  print ("Result: ", A/B)
else:
  print ("\nWrong attempt!\n Please try again.....")
